---
layout: default

title: Easy Restaurant Scheduling Software. Try it Free. | Zip Schedules
description: Scheduling software made for restaurants. Control your labor costs, communicate with staff and keep everyone in-the-loop with a free mobile apps.

#----- Hero_1 -----#
hero_1_img_bg: team.jpg
hero_1_headline: Easy Scheduling Software for Restaurants
hero_1_subheadline: It's already <strong>reduced labor costs by 2%!</strong> - Fresh Griller
hero_1_subheadline_link: restaurant-labor-cost-savings-calculator

# --- Tiles_1 --- #
tiles_show: true
tiles_headline: We focus 100% on helping restaurants save time &amp; money
tiles:                                                                                     
  - tilename: Fresh Griller                                                                 
    tilelogo: restaurant-employee-scheduling-logo-freshgriller.png
  - tilename: Famous Dave's
    tilelogo: restaurant-employee-scheduling-logo-freshgriller.png
  - tilename: Mooyah
    tilelogo: restaurant-employee-scheduling-logo-freshgriller.png
  - tilename: Fresh Griller
    tilelogo: restaurant-employee-scheduling-logo-freshgriller.png
  - tilename: Fresh Griller
    tilelogo: restaurant-employee-scheduling-logo-freshgriller.png

# --- Testimonials_3 --- #
# Testimonials_3 customer testimonials are maintained in \data\testimonials.yml
testimonials_3_headline: Trusted by over 70,000+ restaurant pros                              
testimonials_3_btn: true
testimonials_3_btn_text: View more happy customers
testimonials_3_btn_url: /customers

# --- Features_4 --- #
features_4:                                                                              	# Top 4 core value / use cases
  - image: icon-phone.png                                                                   # Image representing use case
    caption: Spend less time scheduling                                                     # Use case caption
    description: Our clients spend 80% less time on scheduling logistics.                   # Use case description
    link: restaurant-employee-scheduling-software                                                                  # URL link to page and anchor for more info.
  - image: icon-phone.png
    caption: Manage from anywhere
    description: Manage staff when you're in the office, on-the-go, or at home.
    link: restaurant-employee-scheduling-software
  - image: icon-phone.png
    caption: Communicate effectively
    description: Send group texts and emails to ensure everyone is kept in the loop.
    link: restaurant-employee-scheduling-software
  - image: restaurant-employee-scheduling-logo-freshgriller.png
    caption: Stay in control of your business
    description: Accurately forecast labor costs vs projected sales to stay on budget.
    link: restaurant-employee-scheduling-software

# --- Integrations --- #
# Integration details are stored in /data/integrations.yml

integrations_headline: Restaurant partnerships & integrations
integrations_subheadline: We work with the best-in-class restaurant vendors.
integrations_hero: integrations-illustration.png

integrations_btn_show: true                                                                 # Show the button at the bottom.
integrations_btn_label: Learn More About Our Integrations
integrations_btn_URL: https://anyconnector.com                                              # Button link

---

{% include hero_1.html %}

{% include tiles_1.html %}

{% include testimonials_3.html %}

{% include features_4.html %}

{% include integrations.html %}

