<div id="main" class="hero" style="background-image: url({{ site.baseurl }}/assets/images/{{ page.hero_1_img_bg }})">

	<div class="padding-wrap-xl-both tint">
		<div class="padding-wrap-xl">
			<div class="row text-center">
				<h1>{{ page.hero_1_headline }}</h1>
			</div>

			<div class="row text-center">
				<p class="lead">
					<em><a href="{{ page.hero_subheadline_link }}">{{ page.hero_1_subheadline }}</a></em>
					<br/>
				</p>
			</div>

			<div class="container text-center">
				<form class="form-inline" method="post">
					<div class="form-group  form-group-lg">
						<input type="text" class="form-control" id="" placeholder="Full Name" name="signup_full_name">
					</div>
					<div class="form-group form-group-lg">
						<input type="email" class="form-control" id="" placeholder="Email address" name="signup_email">
					</div>
					<button type="submit" class="btn btn-warning btn-lg" name="signup_home_create_account">Start FREE Trial</button>
				</form>
			</div>

		</div>
	</div>

</div>