---
layout: default
permalink: all_includes

title: Easy Restaurant Scheduling Software. Try it Free. | Zip Schedules
description: Scheduling software made for restaurants. Control your labor costs, communicate with staff and keep everyone in-the-loop with a free mobile apps.

# Navigation Bar Sub Menu
# maximum - 9 items in submenu. You can add or remove items
nav_submenu_show: true
navbar_title: Back Office
navbar_items:
  - name: Cutlery
    img: icon-cutlery6-30.png
    link: yahoo.com  
  - name: Forecasting
    img: icon-ecological14-30.png
    link: yahoo.com
  - name: Prep and Pull
    img: icon-caduceus8-30.png
    link: yahoo.com
  - name: Banking
    img: icon-cashier1-30.png
    link: yahoo.com
  - name: Reporting
    img: icon-gasstation2-50.png 
    link: yahoo.com
  - name: Forecasting
    img: icon-ecological14-30.png
    link: yahoo.com
  - name: Prep and Pull
    img: icon-caduceus8-30.png
    link: yahoo.com
  - name: Banking
    img: icon-cashier1-30.png
    link: yahoo.com
  - name: Reporting
    img: /icon-cashier1-30.png
    link: yahoo.com

#----- Hero_1 -----#
hero_1_img_bg: team.jpg
hero_1_headline: Easy Scheduling Software for Restaurants
hero_1_subheadline: It's already <strong>reduced labor costs by 2%!</strong> - Fresh Griller
hero_1_subheadline_link: restaurant-labor-cost-savings-calculator

#----- Hero_2 -----#
hero_2_img: clients-516.jpg
hero_2_headline: Join over 100,000 successful clients.
hero_2_subheadline: Altametrics clients are driving business strategy, achieving better operations, and engaging customers.
hero_2_items:
  - name: Healthcare
    img: caduceus8-75.png
  - name: Hospitality
    img: leisure1-75.png
  - name: Restaurants
    img: cutlery6-76.png
  - name: "C-store & Gas"
    img: gasstation2-75.png
hero_2_video_btn_text: Short videos
hero_2_video_btn_link: /customers
hero_2_request_btn_text: Request a demo
hero_2_request_btn_link: /contact-us

#----- Hero_3 -----#
hero_3_img: imac-preview-1516.jpg
hero_3_headline: "Transform ordinary managers into <br>sales and profit <strong>super-achievers</strong>"
hero_3_subheadline: Running your business with Back Office is simple and fun. A clean, intuitive interface makes <br> tasks like taking inventory or creating work schedules unbelievably quick.  Its ease of use will make you feel right at home.
hero_3_video_btn_text: Watch the Video
hero_3_video_btn_link: customers.html
hero_3_request_btn_text: Request a Demo
hb3_request_btn_link: contact-us.html

#----- Hero_4 -----#
hero_4_img_bg: chef_cut.jpeg
hero_4_headline: Customers
hero_4_subheadline: Here are just a few restaurants that are making their lives easier.

# --- Tiles_1 --- #
tiles_show: true
tiles_headline: We focus 100% on helping restaurants save time &amp; money
tiles:                                                                                     
  - tilename: Fresh Griller                                                                 
    tilelogo: restaurant-employee-scheduling-logo-freshgriller.png
  - tilename: Famous Dave's
    tilelogo: restaurant-employee-scheduling-logo-freshgriller.png
  - tilename: Mooyah
    tilelogo: restaurant-employee-scheduling-logo-freshgriller.png
  - tilename: Fresh Griller
    tilelogo: restaurant-employee-scheduling-logo-freshgriller.png
  - tilename: Fresh Griller
    tilelogo: restaurant-employee-scheduling-logo-freshgriller.png

# --- Tiles_2 --- #
tiles_par_1: Our clients
tiles_par_2: Awards
client-tiles:
  - name: TacoBell
    img: chipotle-106.png
  - name: TacoBell
    img: noodlescompany-125.png
  - name: TacoBell
    img: jblogo-113.png
  - name: TacoBell
    img: tacobell-125.png
awards-tiles:
  - name: Deloitte
    img: deloitte-technology-111.png
  - name: "Editor's choice"
    img: rmagazine-editors-choice-123.png

# --- Video_1 --- #
video_headline: So easy, no wonder it’s #1
video_par_1: 60% of the top restaurant chains in the world run Altametrics Back Office.
video_par_2: See how thousands of restaurant managers are saving up to 5% in food costs and up to 3% in labor costs. 

# --- Video_2 --- #
# Video_2 settings are maintained in \data\testimonials.yml

# --- Testimonials_1 --- #
# Testimonials_1 background image is maintained in _config.yml
# Testimonials_1 customer testimonials are maintained in \data\testimonials.yml

# --- Testimonials_3 --- #
# Testimonials_3 customer testimonials are maintained in \data\testimonials.yml
testimonials_3_headline: Trusted by over 70,000+ restaurant pros                              
testimonials_3_btn: true
testimonials_3_btn_text: View more happy customers
testimonials_3_btn_url: /customers

# --- Features_4 --- #
features_4:                                                                              	# Top 4 core value / use cases
  - image: icon-phone.png                                                                   # Image representing use case
    caption: Spend less time scheduling                                                     # Use case caption
    description: Our clients spend 80% less time on scheduling logistics.                   # Use case description
    link: restaurant-employee-scheduling-software                                                                  # URL link to page and anchor for more info.
  - image: icon-phone.png
    caption: Manage from anywhere
    description: Manage staff when you're in the office, on-the-go, or at home.
    link: restaurant-employee-scheduling-software
  - image: icon-phone.png
    caption: Communicate effectively
    description: Send group texts and emails to ensure everyone is kept in the loop.
    link: restaurant-employee-scheduling-software
  - image: restaurant-employee-scheduling-logo-freshgriller.png
    caption: Stay in control of your business
    description: Accurately forecast labor costs vs projected sales to stay on budget.
    link: restaurant-employee-scheduling-software

# --- Integrations --- #
# Integration details are stored in /data/integrations.yml

integrations_headline: Restaurant partnerships & integrations
integrations_subheadline: We work with the best-in-class restaurant vendors.
integrations_hero: integrations-illustration.png

integrations_btn_show: true                                                                 # Show the button at the bottom.
integrations_btn_label: Learn More About Our Integrations
integrations_btn_URL: https://anyconnector.com                                              # Button link

# --- CallToAction_1 --- #
# CallToAction_1 background image is maintained in _config.yml

# --- CallToAction_2 --- #
# CallToAction_2 background image is maintained in _config.yml

# --- Webinar --- #
# Webinar settings are maintained in _config.yml

### Testimonials Block
testimonial_headline: But wait, there's more...
#see data in testimonials variable _config.yml

### Case Studies Block
case_headline: Not to mention a few case studies...
#see data in case_studies variable _config.yml
    
---

{% include hero_1.html %}

{% include hero_2.html %}

{% include hero_3.html %}

{% include hero_4.html %}

{% include tiles_1.html %}

{% include tiles_2.html %}

{% include video_1.html %}

{% include video_2.html %}

{% include features_4.html %}

{% include integrations.html %}

{% include calltoaction_1.html %}

{% include calltoaction_2.html %}

{% include testimonials_1.html %}

{% include testimonials_3.html %}

{% include webinar.html %}

