---
layout: default
permalink: choose-your-region

# TITLE TAG
# Limit length to 50-70 characters. Include primary keyword near the beginning of the the tag. 
# If it sounds natural include the secondary KW, otherwise it's OK not to have it.
# Use the pipe character "|" to separate terms if needed. This is a headline and should be compelling
# Example: Restaurant Scheduling Software | Try it Free. | Zip Schedules
# This is a headline so it should sound compelling.  

title: Easy Restaurant Scheduling Software. Try it Free. | Zip Schedules

# DESCRIPTION TAG
# 160 - 250 characters max.  
# Use the keywords 1 - 2x but make it sound attractive to entice people to click on the link.
# This is the short description that the search engines will show under the page link that is displayed.

description: Scheduling software made for restaurants. Control your labor costs, communicate with staff and keep everyone in-the-loop with a free mobile apps.

#image: 
#author: zip schedules

headline: Choose your country or region.

# Countries - If the Country name is long that makes 2 or more lines after build --- Just add a class "caption-top". See "République Centrafricaine " for reference
internationalization:
  - region: Africa, Middle East, and India
    countries:
      - link: /am/
        flag: am
        name: Armenia
      - link: /bh/  
        flag: bh 
        name: Bahrain 
      - link: /bw/  
        flag: bw 
        name: Botswana 
      - link: /cm/  
        flag: cm 
        name: Cameroun 
      - link: /cf/  
        flag: cf 
        name: République Centrafricaine 
        class: caption-top 
      - link: /ci/  
        flag: ci 
        name: Côte d'Ivoire 
      - link: /eg/  
        flag: eg 
        name: Egypt 
      - link: /gw/  
        flag: gw 
        name: Guinea-Bissau 
      - link: /gn/  
        flag: gn 
        name: Guinée 
      - link: /gq/  
        flag: gq 
        name: Guinée Equatoriale 
        class: caption-top  
      - link: /in/  
        flag: in 
        name: India 
      - link: /il/  
        flag: il 
        name: Israel 
      - link: /jo/  
        flag: jo 
        name: Jordan 
      - link: /ke/  
        flag: ke 
        name: Kenya 
      - link: /kw/  
        flag: kw 
        name: Kuwait 
      - link: /mg/  
        flag: mg 
        name: Madagascar 
      - link: /ml/  
        flag: ml 
        name: Mali 
      - link: /ma/  
        flag: ma 
        name: Maroc 
      - link: /mu/  
        flag: mu 
        name: Maurice 
      - link: /mz/  
        flag: mz 
        name: Mozambique 
      - link: /ne/  
        flag: ne 
        name: Niger 
      - link: /ng/  
        flag: ng 
        name: Nigeria 
      - link: /om/  
        flag: om 
        name: Oman 
      - link: /qa/  
        flag: qa 
        name: Qatar 
      - link: /sa/  
        flag: sa 
        name: Saudi Arabia 
      - link: /sn/  
        flag: sn 
        name: Sénégal 
      - link: /za/  
        flag: za 
        name: South Africa 
      - link: /tn/  
        flag: tn 
        name: Tunisie 
      - link: /ug/  
        flag: ug 
        name: Uganda 
      - link: /ae/  
        flag: ae 
        name: United Arab Emirates 
      - link: /ae-ar/  
        flag: ae 
        name: الإمارات العربية المتحدة 
  - region: Asia Pacific
    countries: 
      - link: /au/  
        flag: au         
        name: Australia 
      - link: /cn/  
        flag: cn         
        name: 中国 
      - link: /hk/en/  
        flag: hk         
        name: Hong Kong (English) 
        class: caption-top  
      - link: /hk/  
        flag: hk         
        name: 香港 
      - link: /id/  
        flag: id         
        name: Indonesia 
      - link: /jp/  
        flag: jp         
        name: 日本 
      - link: /kr/  
        flag: kr         
        name: 대한민국 
      - link: /mo/  
        flag: mo         
        name: 澳門 
      - link: /my/  
        flag: my         
        name: Malaysia 
      - link: /nz/  
        flag: nz         
        name: New Zealand 
      - link: /ph/  
        flag: ph         
        name: Philippines 
      - link: /sg/  
        flag: sg         
        name: Singapore 
      - link: /tw/  
        flag: tw         
        name: 台灣 
      - link: /th/  
        flag: th         
        name: ไทย 
      - link: /vn/  
        flag: vn         
        name: Vietnam 
  - region: Europe
    countries: 
      - link: /benl/  
        flag: be         
        name: België 
      - link: /befr/  
        flag: be         
        name: Belgique 
      - link: /bg/  
        flag: bg         
        name: България 
      - link: /cz/  
        flag: cz         
        name: Česko 
      - link: /dk/  
        flag: dk         
        name: Danmark 
      - link: /de/  
        flag: de         
        name: Deutschland 
      - link: /ee/  
        flag: ee         
        name: Eesti 
      - link: /es/  
        flag: es         
        name: España 
      - link: /fr/  
        flag: fr         
        name: France 
      - link: /gr/  
        flag: gr         
        name: Ελλάδα 
      - link: /hr/  
        flag: hr         
        name: Hrvatska 
      - link: /ie/  
        flag: ie         
        name: Ireland 
      - link: /it/  
        flag: it         
        name: Italia 
      - link: /lv/  
        flag: lv         
        name: Latvija 
      - link: /li/  
        flag: li         
        name: Liechtenstein 
      - link: /lt/  
        flag: lt         
        name: Lietuva 
      - link: /lu/  
        flag: lu         
        name: Luxembourg 
      - link: /mk/  
        flag: mk         
        name: Macedonia 
      - link: /hu/  
        flag: hu         
        name: Magyarország 
      - link: /mt/  
        flag: mt         
        name: Malta 
      - link: /md/  
        flag: md         
        name: Moldova 
      - link: /me/  
        flag: me         
        name: Montenegro 
      - link: /nl/  
        flag: nl         
        name: Nederland 
      - link: /no/  
        flag: no         
        name: Norge 
      - link: /at/  
        flag: at         
        name: Österreich 
      - link: /pl/  
        flag: pl         
        name: Polska 
      - link: /pt/  
        flag: pt         
        name: Portugal 
      - link: /ro/  
        flag: ro         
        name: România 
      - link: /ru/  
        flag: ru         
        name: Россия 
      - link: /sk/  
        flag: sk         
        name: Slovensko 
      - link: /si/  
        flag: si         
        name: Slovenia 
      - link: /chde/  
        flag: ch         
        name: Schweiz 
      - link: /chfr/  
        flag: ch         
        name: Suisse 
      - link: /fi/  
        flag: fi         
        name: Suomi 
      - link: /se/  
        flag: se         
        name: Sverige 
      - link: /tr/  
        flag: tr         
        name: Türkiye 
      - link: /uk/  
        flag: uk         
        name: UK 
  - region: Latin America and the Caribbean
    countries: 
      - link: /lae/  
        flag: ai         
        name: Anguilla 
      - link: /lae/  
        flag: ag         
        name: Antigua &amp; Barbuda 
        class: caption-top  
      - link: /la/  
        flag: ar         
        name: Argentina 
      - link: /lae/  
        flag: bb         
        name: Barbados 
      - link: /lae/  
        flag: bz         
        name: Belize 
      - link: /lae/  
        flag: bm         
        name: Bermuda 
      - link: /la/  
        flag: bo         
        name: Bolivia 
      - link: /br/  
        flag: br         
        name: Brasil 
      - link: /lae/  
        flag: vg         
        name: British Virgin Islands 
        class: caption-top 
      - link: /lae/  
        flag: ky         
        name: Cayman Islands 
      - link: /cl/  
        flag: cl         
        name: Chile 
      - link: /co/  
        flag: co         
        name: Colombia 
      - link: /la/  
        flag: cr         
        name: Costa Rica 
      - link: /lae/  
        flag: dm         
        name: Dominica 
      - link: /la/  
        flag: do         
        name: República Dominicana 
        class: caption-top  
      - link: /la/  
        flag: ec         
        name: Ecuador 
      - link: /la/  
        flag: sv         
        name: El Salvador 
      - link: /lae/  
        flag: gd         
        name: Grenada 
      - link: /la/  
        flag: gt         
        name: Guatemala 
      - link: /lae/  
        flag: gy         
        name: Guyana 
      - link: /la/  
        flag: hn         
        name: Honduras 
      - link: /lae/  
        flag: jm         
        name: Jamaica 
      - link: /mx/  
        flag: mx         
        name: México 
      - link: /lae/  
        flag: ms         
        name: Montserrat 
      - link: /la/  
        flag: ni         
        name: Nicaragua 
      - link: /la/  
        flag: pa         
        name: Panamá 
      - link: /la/  
        flag: py         
        name: Paraguay 
      - link: /la/  
        flag: pe         
        name: Perú 
      - link: /lae/  
        flag: kn         
        name: St. Kitts &amp; Nevis 
      - link: /lae/  
        flag: lc         
        name: St. Lucia 
      - link: /lae/  
        flag: vc         
        name: St. Vincent &amp; The Grenadines 
        class: caption-top  
      - link: /lae/  
        flag: sr         
        name: Suriname 
      - link: /lae/  
        flag: bs         
        name: The Bahamas 
      - link: /lae/  
        flag: tt         
        name: Trinidad &amp; Tobago 
        class: caption-top  
      - link: /lae/  
        flag: tc         
        name: Turks &amp; Caicos 
      - link: /la/  
        flag: uy         
        name: Uruguay 
      - link: /la/  
        flag: ve         
        name: Venezuela 
      - link: /la/  
        flag: default         
        name: América Latina y el Caribe (Español) 
        class: caption-top  
      - link: /lae/  
        flag: default         
        name: Latin America and the Caribbean (English) 
        class: caption-top  
  - region: The United States, Canada, and Puerto Rico
    countries: 
      - link: /ca/  
        flag: ca         
        name: Canada (English) 
      - link: /ca/fr/  
        flag: ca         
        name: Canada (Français) 
        class: caption-top  
      - link: /lae/  
        flag: pr         
        name: Puerto Rico (English) 
        class: caption-top  
      - link: /la/  
        flag: pr         
        name: Puerto Rico (Español)
        class: caption-top 
      - link: /  
        flag: us         
        name: United States 
---

<div class="padding-wrap-md">
	<div class="text-center">
		<h1 class="text-reg">{{ page.headline }}</h1>
	</div>
</div>

<div class="padding-wrap-xs region">
	<div class="container">
		{% for entry in page.internationalization %}
		<div class="row">
			<div class="container">
				<h5 class="padding-wrap-md border_bottom">{{ entry.region }}</h5>
			</div>
			<div class="container">
				<ul class="list-unstyled">
					{% for country in entry.countries %}
					<li class="countrylist-item">
						<a href="{{ country.link }}" class="block">
							<figure class="flag flag-ci" style="background-image: url('{{ site.baseurl }}/assets/flags_r/{{ country.flag }}.png')"></figure>
							<span class="countrylist-caption block-link
							{{ country.class }}">{{ country.name }}</span>
						</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		{% endfor %}
	</div>
</div>